body {
    background-color: #f8f9fa; /* A light background color */
}

.footer a {
    color: #fff;
}

.footer a:hover {
    color: #ffe135; /* Bright color for hover state */
}
@keyframes blink {
    50% { opacity: 0; }
  }
  
  .blink {
    animation: blink 1s step-start 0s infinite;
  }
  